@CHARSET "BIG5";

.horizontalCenter{
margin-left:30%;
}

.error{
	border:1px solid #ff0000 !important;
	color: #ff0000 !important;
}
.inline{
	display: inline;
}
.optionTextField{
	margin-left: 10px;
}